# summation of two numbers

In [1]:
num1=int(input("enter first number"))
num2=int(input("enter second number"))
print(f"summation:{num1+num2}")

enter first number6
enter second number5
summation:11

# program to read an integer value to check digit or not

In [8]:
num=int(input("enter the integer: "))
#if -else
if(num>=-9 and num<=9):
    print("Digit")
else:
    print("Number")
#ternery operator
#res="Digit" if(num>=9 and num<=9)else "Number"
#print(res)

enter the integer: 5
Digit

# two digit number or not

In [12]:
num=int(input("enter the integer:"))
if((num>=10 and num<=99) or (num>=-99 and num<=-10)):
    print("two digit number")
else:
    print("not a two digit number")

enter the integer:14
two digit number

# three digit number or not

In [3]:
num=int(input("enter the integer"))
if((num>=100 and num<=999) or (num>=-999 and num<=-100)):
    print("Three digit number")
else:
    print("Not a three digit number")

enter the integer956
Three digit number

# Four digit or not

In [12]:
num=int(input("enter the integer"))
if((num>=1000 and num<=9999) or (num>=-9999 and num<=-1000)):
    print("Four digit number")
else:
    print("Not a four digit number")

enter the integer1111
Four digit number

# Largest of 2 numbers

In [8]:
num1=int(input("enter the first integer"))
num2=int(input("enter the second integer"))
if(num1>num2):
    print(f"{num1} is largest number")
else:
    print(f"{num2} is largest number")
#ternery operator
res=num1 if(num1>num2) else num2
print(f"{res} is largest number")

enter the first integer10
enter the second integer45
45 is largest number
45 is largest number

# smallest of 2 numbers

In [11]:
num1=int(input("enter the first integer"))
num2=int(input("enter the second integer"))
if(num1<num2):
    print(f"{num1} is smallest number")
else:
    print(f"{num2} is smallest number")
#ternery operator
res=num1 if(num1<num2) else num2
print(f"{res} is smallest number")

enter the first integer20
enter the second integer40
20 is smallest number
20 is smallest number

# read 3 integers ..largest

In [25]:
num1=int(input("enter the first integer"))
num2=int(input("enter the second integer"))
num3=int(input("enter the second integer"))
if(num1>num2 and num1>num3):
    print(f"{num1} is largest number")
elif(num2>num3 and num2>num1):
    print(f"{num2} is largest number")
else:
    print(f"{num3} is largest number")
#ternery operator
largest=num1 if(num1>num2 and num1>num3) else num2
res=num3 if(num3>num1 and num3>num2) else largest
print(f"{res} is largest number")

enter the first integer100
enter the second integer250
enter the second integer50
250 is largest number
250 is largest number

# read 3 integers ..largest#

In [26]:
num1=int(input("enter the first integer"))
num2=int(input("enter the second integer"))
num3=int(input("enter the second integer"))
if(num1<num2 and num1<num3):
    print(f"{num1} is smallest number")
elif(num2<num3 and num2<num1):
    print(f"{num2} is smallest number")
else:
    print(f"{num3} is smallest number")
#ternery operator
largest=num1 if(num1<num2 and num1<num3) else num2
res=num3 if(num3<num1 and num3<num2) else largest
print(f"{res} is smallest number")

enter the first integer10
enter the second integer100
enter the second integer568
10 is smallest number
10 is smallest number

# middle no. of 3 numbers

In [28]:
num1=int(input("enter the first integer"))
num2=int(input("enter the second integer"))
num3=int(input("enter the second integer"))
if(num1<=num2 and num2<=num3 and num3<=num2 and num2<=num1):
    print(f"{num2} is middle number")
elif(num2<=num1 and num1<=num3 and num3<=num1 and num1<=num3):
    print(f"{num1} is middle number")
else:
    print(f"{num3} is middle number")

enter the first integer10
enter the second integer20
enter the second integer15
15 is middle number

# read month number as input & check whether a valid month no. or not

In [8]:
num=int(input("enter a month number"))
if(num>=1 and num<=12):
    print(f"{num} is valid month")
else:
    print(f"{num} is not a valid month")

enter a month number11
11 is valid month

# read month no. as input & print respective no. of days present in particular month

In [14]:
m=int(input("enter a month number"))
if(m==1 or m==3 or m==5 or m==7 or m==8 or m==10 or m==12):
      print("31  days")
elif(m==2):
      print("28 or 29 days")
elif(m==4 or m==6 or m==9 or m==11):
      print("30 days")
else:
      print("invalid month number")

enter a month number11
30 days

# user entered age is eligible to vote or not

In [19]:
age=int(input("enter age:"))
if(age>=18):
    print("eligible to vote")
else:
    print("not eligible to vote")

enter age:18
eligible to vote

# read integer value as input & check it is even or odd no.

In [21]:
num=int(input("enter a integer value"))
if(num%2==0):
    print("even number")
else:
    print("odd number")

enter a integer value13
odd number

# read integer value& check it is multiple of 3&5 or not

In [23]:
num=int(input("eneter an integer value"))
if(num%3==0 and num%5==0):
    print("number is multiple of 3 & 5")
else:
    print("number is not a multiple of 3 & 5")

eneter an integer value15
number is multiple of 3 & 5

# read integer value & print FizzBuzz if it is divisible by 3& 5 ..fizz-3..buzz-5

In [29]:
n=int(input("eneter an integer value:"))
if(n%3==0 and n%5==0):
    print("FizzBuzz")
elif(n%3==0):
    print("Fizz")
elif(n%5==0):
    print("Buzz")

eneter an integer value3
Fizz

# read amount as input no.of notes required in indian currency

In [30]:
amount=int(input("enter the amount"))
print(f"500---->{amount//500}")
amount=amount%500
print(f"200---->{amount//200}")
amount=amount%200
print(f"100---->{amount//100}")
amount=amount%100
print(f"50---->{amount//50}")
amount=amount%50
print(f"20---->{amount//20}")
amount=amount%20
print(f"10---->{amount//10}")
amount=amount%10
print(f"5---->{amount//5}")
amount=amount%5
print(f"2---->{amount//2}")
amount=amount%2
print(f"1---->{amount//1}")

enter the amount2500
500---->5
200---->0
100---->0
50---->0
20---->0
10---->0
5---->0
2---->0
1---->0

# DAY-2

# ATM Withdrawl validation

In [4]:
amount=int(input("enter the amount"))
if(amount<=5000 and amount%100==0):
    print("allow withdrawl")
else:
    print("Insufficient balanec,amount should be multiple of 100")

enter the amount6255
Insufficient balanec,amount should be multiple of 100

# Traffic signal decision

In [30]:
color=input("enter the traffic light color").lower()
if(color=="red"):
    print("Stop immediately")
elif(color=="yellow"):
    print("Get ready to move")
elif(color=="green"):
    print("you can go")
else:
    print("not a traffic light color")

enter the traffic light colorgreen
you can go

# Movie ticket pricing

In [13]:
age=int(input("enter your age in years"))
if(age<12):
    print("ticket price is 150")
elif(age>=12 and age<=18):
    print("ticket price is 200")
else:
    print("ticket price is 300")

enter your age20
ticket price is 300

# Employee overtime pay

In [15]:
hours=int(input("enter the number of hours worked"))
if(hours>8):
    print("100 per extra hour")
else:
    print("no overtime pay")

enter the number of hours worked3
no overtime pay

# Restaurant discount system

In [26]:
bill=int(input("enter the bill"))
if(bill>1000):
    print(f"{bill-((10/100)*bill)} is the final amount")
elif(bill>500 and bill<=1000):
    print(f"{bill-((5/100)*bill)} is the final amount")
else:
    print("No discount")

enter the bill600
570.0 is the final amount

# Water reminder app

In [27]:
hours=int(input("enter number of hours since the user last drank water"))
if(hours>=4):
    print("You are dehydrated!Drink water now!")
elif(hours>=2 and hours<=3):
    print("Drink a glass of water")
else:
    print("you're fine")

enter number of hours since the user last drank water5
You are dehydrated!Drink water now!

# Python data types-numeric,dictionary,boolean,sequence type
Numeric-Integer,complex number,float
........................sequence type-strings,list,tuple,range

In [2]:
List=[5,6,7,8,9]
Tuple=(1,2,3,4)
Set={1,3,6,8}
print(List,type(List))
print(Tuple,type(Tuple))
print(Set,type(Set))

[5, 6, 7, 8, 9] <class 'list'>
(1, 2, 3, 4) <class 'tuple'>
{8, 1, 3, 6} <class 'set'>

# syntax -for loop
for element in sequence:
    body of for loop

# syntax-range
range(stop)
range(start,stop)
range(start,stop,stepsize)

In [7]:
r1=range(10)
print(r1)
print(type(r1))

range(0, 10)
range(10, 20, 2)
<class 'range'>

In [11]:
for i in range(10):
    print(i,end=" ")#to get 10 ..value of 10 has be 11 as n-1

0 1 2 3 4 5 6 7 8 9

In [12]:
for i in range(10,20,2):
    print(i)

10
12
14
16
18

# print natural numbers 1-n where n is user input

In [17]:
n=int(input("enter the number"))
print(f"natural numbers from 1 to {n}")
for i in range(1,n+1):
    print(i,end=" ")

enter the number100
natural numbers from 1 to 100
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

# natural  number n to 1

In [21]:
n=int(input("enter the number"))
print(f"natural numbers from {n} to 1")
for i in range(n,0,-1):
    print(i,end=" ")

enter the number100
natural numbers from 100 to 1
100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

# even numbers 1-n

In [33]:
n=int(input("enter the number"))
print(f"even numbers from 1 to {n}")
for i in range(1,n+1):
    if(i%2==0):
        print(i,end=" ")

enter the number100
even numbers from 1 to 100
2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

# even numbers from n to 1

In [34]:
n=int(input("enter the number"))
print(f"even numbers from {n} to 1")
for i in range(n,0,-1):
    if(i%2==0):
        print(i,end=" ")

enter the number100
even numbers from 100 to 1
100 98 96 94 92 90 88 86 84 82 80 78 76 74 72 70 68 66 64 62 60 58 56 54 52 50 48 46 44 42 40 38 36 34 32 30 28 26 24 22 20 18 16 14 12 10 8 6 4 2

# odd numbers 1-n

In [36]:
n=int(input("enter the number"))
print(f"odd numbers from 1 to {n}")
for i in range(1,n+1,2):
        print(i,end=" ")

enter the number100
odd numbers from 1 to 100
1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

# odd numbers n -1

In [35]:
n=int(input("enter the number"))
print(f"odd numbers from {n} to 1")
for i in range(n,0,-1):
    if(i%2==1):
        print(i,end=" ")

enter the number100
odd numbers from 100 to 1
99 97 95 93 91 89 87 85 83 81 79 77 75 73 71 69 67 65 63 61 59 57 55 53 51 49 47 45 43 41 39 37 35 33 31 29 27 25 23 21 19 17 15 13 11 9 7 5 3 1

# multiplication table

In [48]:
n=int(input("enter the number"))
print(f"multiplication table of {n}")
for i in range (1,11):
    print(f" {n}*{i}={n*i}")

enter the number5
multiplication table of 5
 5*1=5
 5*2=10
 5*3=15
 5*4=20
 5*5=25
 5*6=30
 5*7=35
 5*8=40
 5*9=45
 5*10=50